{% extends 'base.html.twig' %}
{% block body %}
<form>
<div class="col d-flex justify-content-center text-center">
    
    <div class="form-outline mb-4">
        <label class="form-label" for="confirmpassword"><h3>Confirm Password</h3></label>
        <br>
        <input type="password" id="confirmpassword" class="form-control"/>
        <br>
        <button type="button" class="btn btn btn-outline-primary">Confirm</button>
        <a href="{{path('profile')}}"><button type="button" class="btn btn-outline-primary">Back to index</button></a>
    </div>
    <br>
</div>
</form>
{% endblock %}